@font-face {
  font-weight: 800;
  font-family: "Gilroy";

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";

  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff.woff") format("woff");
}

/*______Общие стили______*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  position: relative;
  z-index: 2;

  display: inline-block;
  width: 160px;
  padding: 8px 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background: none;
  border: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;

  transition-duration: 0.2s;
  transition-property: transform;
}

.button:hover,
.button:focus {
  background-color: transparent;
}

.button:hover::before,
.button:focus::before {
  transform: scaleY(5);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button:active::before {
  color: rgba(0, 0, 0, 0.3);
}

/*___Стили для шапки___*/

.main-nav {
  display: flex;
  flex-direction: column;
  padding: 0 60px;

  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ffffff 23px, #f7e296 23px);
}

.logo {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

.logo:hover,
.logo:focus {
  color: rgba(0, 0, 0, 0.6);
}

.logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-logo {
  margin-bottom: 5px;
}

/* ___header-middle___ */

.header-middle {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  margin-bottom: 27px;
}

.header-middle .search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 440px;
  margin-right: 100px;
}

.header-middle .user-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px;
}

.header-middle .user-functions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 220px;
  margin-left: auto;
}

.user-navigation .profile {
  margin-right: 20px;
}

.search-form {
  position: relative;

  font-weight: 300;
  font-size: 0;
  line-height: 30px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 2px;

  width: 20px;
  height: 20px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-field {
  box-sizing: border-box;
  width: 355px;
  margin: 0;
  padding: 11px 40px 8px;

  font: inherit;
  font-size: 15px;

  background: transparent;
  border: none;
}

.search-field:focus {
  padding-bottom: 6px;

  border-bottom: 2px solid #000000;
}

.search-button {
  box-sizing: border-box;
  padding: 12px 20px;

  font: inherit;
  font-size: 15px;
  vertical-align: middle;
  color: transparent;

  background: transparent;
  border: none;
}

.search-field:focus ~ .search-button,
.search-button:focus {
  padding: 10px 18px;

  color: #000000;

  border: 2px solid #000000;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.user-navigation,
.user-functions,
.site-nav,
.sub-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a,
.user-functions a,
.sub-menu a {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

.profile svg,
.compare svg,
.cart svg {
  margin-right: 12px;
}

.profile a,
.compare a,
.cart a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.logout a {
  opacity: 0.3;
}

.logout a:hover,
.logout a:focus {
  opacity: 0.6;
}

.logout a:active {
  opacity: 0.2;
}

.site-nav-item > a {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-functions a:hover,
.user-functions a:focus,
.site-nav a:hover,
.site-nav a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
  opacity: 0.6;
}

.user-navigation a:active,
.user-functions a:active,
.site-nav a:active,
.sub-menu a:active {
  opacity: 0.3;
}

/* ___header-bottom___ */

.header-bottom {
  margin-bottom: 55px;
}

.header-bottom .site-nav {
  display: flex;
  flex-direction: row;
}

.sub-menu {
  display: none;
}

.site-nav-item:not(:last-child) {
  margin-right: 30px;
}

.site-nav-item:first-child {
  position: relative;

  margin-right: 290px;
  padding-right: 32px;
}

.site-nav-item:first-child > a {
  position: relative;
}

.site-nav-item:first-child > a::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 228px;

  width: 20px;
  height: 20px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.site-nav-item:last-child {
  margin-left: auto;
}

/* ___Стили промо-слайдера___ */

.slider .container {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 328px;
  right: 80px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
}

.slider-control {
  position: relative;

  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-control-active::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;

  width: 2px;
  height: 2px;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  position: relative;

  display: none;
  flex-direction: row;

  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #f7e296 113px, #ffffff 113px);
}

.slide::before {
  position: absolute;
  top: -10px;
  right: 50px;

  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
}

.slide:nth-child(1)::before {
  content: "01";
}

.slide:nth-child(2)::before {
  content: "02";
}

.slide:nth-child(3)::before {
  content: "03";
}

.slide-active {
  display: flex;
}

.slide-content {
  padding-right: 20px;
  padding-left: 20px;
}

.slide:nth-child(1) img {
  margin-right: 105px;
  margin-left: 90px;
}

.slide:nth-child(2) img {
  margin-right: 120px;
  margin-left: 116px;
}

.slide:nth-child(3) img {
  margin-right: 20px;
  margin-left: 30px;
}

.tagline {
  position: relative;

  display: block;
  margin-bottom: 20px;
  padding-top: 75px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

.tagline::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;

  width: 100px;
  height: 8px;

  background-color: #ffffff;
}

.slide p {
  margin-bottom: 45px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #464646;
}

.slide-content .button {
  width: 180px;
  margin-bottom: 30px;
}

.properties th {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.properties td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

/* ___Популярные категории___ */

.popular-categories {
  padding-top: 108px;
  padding-bottom: 80px;
}

.popular-categories-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-item a {
  position: relative;

  display: block;
  width: 160px;
  padding-top: 195px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popular-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.popular-item a:hover::before,
.popular-item a:focus::before {
  background-color: #f0c52e;
}

.popular-item a:active::after {
  opacity: 0.3;
}

.popular-vr a::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 30px;

  width: 100px;
  height: 60px;

  background-color: transparent;
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
}

.popular-mono a::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 36px;

  width: 87px;
  height: 120px;

  background-color: transparent;
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
}

.popular-camera a::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 50px;

  width: 75px;
  height: 90px;

  background-color: transparent;
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
}

.popular-fitness a::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 27px;

  width: 110px;
  height: 90px;

  background-color: transparent;
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
}

.popular-smart a::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50px;

  width: 55px;
  height: 105px;

  background-color: transparent;
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
}

.popular-copter a::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 15px;

  width: 135px;
  height: 75px;

  background-color: transparent;
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
}

/* ___Стили блока Услуги___ */

.services {
  padding-bottom: 70px;

  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ffffff 97px, #e5e5e5 97px);
}

.services-slider {
  display: flex;
  flex-direction: row;
}

.services-slider-controls {
  width: 277px;
  min-height: 240px;
  margin: 0;
  padding: 0;
  padding-top: 80px;

  list-style: none;

  border-right: 7px solid #000000;
}

.services-control:not(:last-child) {
  margin-bottom: 24px;
}

.services-control .button {
  width: 120px;
}

.services-control-active {
  background-color: #000000;
}

.services-control-active .button {
  color: #f7e184;

  background-color: #000000;
}

.services-control-active .button::before {
  top: 0;
  left: 0;

  background-color: #000000;

  transition: none;
}

.services-control-active .button:hover::before {
  transform: none;
}

.services-button-active,
.services-button:active {
  color: #f7e184;
}

.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  position: relative;

  display: none;
  width: 430px;
  padding-top: 70px;
  padding-left: 120px;
}

.service-delivery::before {
  content: "";
  position: absolute;
  top: 83px;
  right: -261px;

  width: 137px;
  height: 167px;

  background-color: transparent;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.service-guarantee::before {
  content: "";
  position: absolute;
  top: 60px;
  right: -280px;

  width: 170px;
  height: 195px;

  background-color: transparent;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.service-credit::before {
  content: "";
  position: absolute;
  top: 60px;
  right: -257px;

  width: 157px;
  height: 185px;

  background-color: transparent;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.services-item-active {
  display: block;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.services-item p {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #464646;
}

/* ___Стили для блока брендов___ */

.brands {
  padding-top: 95px;
  padding-bottom: 133px;
}

.brands-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-link {
  display: block;
}

.brands-link .main-image {
  display: none;
}

.brands-link:hover .main-image,
.brands-link:focus .main-image {
  display: block;
}

.brands-link:hover .filter-image,
.brands-link:focus .filter-image {
  display: none;
}

/* ___Стили для блоков "О нас" и "Контакты"___ */

.inner-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information {
  display: flex;
  flex-direction: column;
  padding-bottom: 79px;
}

.section-title {
  position: relative;

  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.section-title::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;

  width: 80px;
  height: 8px;

  background-color: #000000;
}

.information p {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #464646;
}

.information p:last-of-type {
  margin-bottom: 39px;
}

.information-about p:last-of-type {
  margin-bottom: 68px;
}

.information-about p {
  width: 475px;
}


.information-contacts p {
  width: 560px;
}

.partners {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
  font-weight: 800;
  font-size: 15px;
  line-height: 30px;
}

.partners li {
  position: relative;

  margin-bottom: 12px;
  padding-left: 35px;
}

.partners li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 4px;
  height: 4px;

  border: 2px solid #ececec;
  border-radius: 50%;
}

.information .button {
  width: 220px;
  margin-top: auto;
}

/* ___Стили для подвала___ */

.main-footer {
  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 65px;

  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* ___footer-top___ */

.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
}

.footer-top .footer-logo {
  margin-right: auto;

  color: rgba(255, 198, 0, 1);
}

.footer-top .footer-logo:hover,
.footer-top .footer-logo:focus {
  color: rgba(255, 198, 0, 0.6);
}

.footer-top .footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-top svg {
  fill: rgba(255, 198, 0, 1);
}

.footer-top .footer-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 330px;
}

.footer-top .user-navigation {
  display: flex;
  flex-direction: row;
  max-width: 300px;
}

.footer-top .user-functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 220px;
  margin-left: 30px;
}

/* ___footer-middle___ */

.footer-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
}

.footer-middle .contacts-address {
  order: 0;
}

.footer-middle .site-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 1;
  min-width: 450px;
}

.footer-middle .contacts-phone {
  order: 2;
}

.footer-middle a {
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

/* ___footer-bottom___ */

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-bottom::before {
  content: "";

  width: 80px;
  height: 8px;

  background-color: #f0c52e;
}

.footer-bottom .academy,
.footer-bottom .footer-social {
  margin-left: auto;
}

.footer-bottom .footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 140px;
}

.social svg {
  fill: rgba(255, 255, 255, 0.3);
}

.social:hover svg,
.social:focus svg {
  fill: rgba(255, 255, 255, 0.6);
}

.social:active svg {
  fill: rgba(255, 255, 255, 0.1);
}

.contacts-phone,
.contacts-address {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
}

/* ___Стили страницы каталога___ */

.page-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 32px;
  padding-right: 60px;
  padding-left: 60px;

  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  padding-right: 60px;
  padding-left: 60px;

  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  position: relative;

  margin-right: 20px;
  padding-right: 20px;
}

.breadcrumbs li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;

  width: 5px;
  height: 7px;

  background-color: transparent;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs li,
.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter-columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.filters,
.catalog {
  display: flex;
  flex-direction: column;
}

.filters {
  flex-basis: 38%;
}

.filters-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 23px;
  padding-right: 180px;
  padding-bottom: 23px;

  background-color: #dbdbdb;
}

.catalog-section-title {
  margin: 0;
  padding: 0;

  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  padding-top: 70px;
  padding-right: 70px;

  background-color: #efefef;
}

.filters-container .filter-form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.filter-form .button {
  width: 200px;
}

.filter-form-field {
  padding-top: 10px;

  border-top: 2px solid #000000;
}

.filter-form-field fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  border: none;
}


.range-controls {
  position: relative;

  height: 42px;
  padding-top: 33px;
}

.range-controls .scale {
  width: 100%;
  height: 2px;

  background-color: #e2e2e2;
}

.range-controls .bar {
  width: 65%;
  height: 2px;

  background-color: #b0d56f;
}

.range-controls .price-button {
  position: absolute;
  top: 22px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.range-controls .price-button::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;

  background-color: #999999;
  border: 8px solid #ffffff;
  border-radius: 50%;
}

.range-controls .price-button-min {
  left: -16px;
}

.range-controls .price-button-max {
  left: 114px;
}

.price-button span {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.form-check,
.form-radio {
  display: flex;
  align-items: center;

  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.form-check:disabled,
.form-radio:disabled {
  color: #a6a6a6;
}

.form-check::before {
  content: "";

  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;

  background-color: transparent;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.form-radio::before {
  content: "";

  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;

  background-color: transparent;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

input:checked + .form-check::before {
  background-color: transparent;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

input:checked + .form-radio::before {
  background-color: transparent;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/* ___Стили каталога___ */

.catalog {
  flex-basis: 61%;
}

.catalog-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 70px;

  background-color: #ebebeb;
}

.catalog-top .catalog-section-title {
  margin-right: 50px;
}

.catalog-top .catalog-sort {
  display: flex;
  flex-direction: row;
  width: 560px;
}

.catalog-sort .sort-button:not(:last-child) {
  margin-right: 30px;
}

.catalog-sort .sort-arrow-up {
  margin-left: auto;
}

.sort-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sort-button-active {
  color: rgba(0, 0, 0, 1);
}

.catalog-container {
  padding: 70px 70px 75px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

/* ___Стили карточки товара___ */

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 360px;
  padding-bottom: 40px;
}

.catalog-item img {
  order: -1;
  margin-bottom: 30px;
}

.catalog-item .catalog-item-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}

.catalog-item-info h3 {
  width: 260px;
  margin: 0;
  padding: 0;

  font: inherit;
}

.catalog-item .catalog-item-control {
  position: absolute;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
}

.catalog-item-control .button {
  width: 200px;
  margin-bottom: 20px;
}

.catalog-item-control {
  width: 360px;
  height: 210px;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .catalog-item-control,
.catalog-item:focus .catalog-item-control {
  z-index: 1;
}

.price {
  font-weight: 300;
  font-size: 16px;
}

.button-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);

  background: none;
  border: none;
}

.button-compare:hover,
.button-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/* ___Стили пагинации___ */

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 760px;
}

.pagination-list {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ebebeb;
}

.pagination-list li:not(:last-child) {
  margin-right: 30px;
}

.pagination-page {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page:hover,
.pagination-page:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page-active,
.pagination-page:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-button {
  padding: 26px 30px;

  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: #ebebeb;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-button-forward {
  order: 1;
}

/* ___Стили для модальных окон___ */

.modal-map {
  position: relative;

  width: 960px;
  height: 560px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-write {
  position: relative;

  width: 760px;
  height: 379px;
  padding: 88px 100px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-write .button {
  align-self: flex-end;
  width: 200px;
}

.modal-write .feedback-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 40px;
}

.feedback-item:last-of-type {
  width: 100%;
  margin-bottom: 40px;
}

.feedback-item label {
  margin-bottom: 10px;
}

.feedback-item input,
.feedback-item textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 20px;

  background-color: #e5e5e5;
  border: none;
  opacity: 0.5;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  opacity: 0.8;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  padding: 15px 17px;

  background-color: transparent;
  border: 3px solid #f0c52e;
}

.feedback-item textarea {
  resize: none;
}

.close-button {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}
