@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
       url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format('woff2'),
       url("../fonts/gilroylight.woff.woff") format('woff');
  font-weight: 300;
}

/*______Общие стили______*/

body {
  margin: 0px;
  padding: 0px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background: none;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*___Стили для шапки___*/

.main-nav {
  display: flex;
  flex-direction: column;

  padding: 0 60px;

  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ffffff 23px, #f7e296 23px);
}

.logo {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  color: #000000;
}

.logo:hover,
.logo:focus {
  color: rgba(0, 0, 0, 0.6)
}

.logo:active {
  color: rgba(0, 0, 0, 0.3)
}

.header-logo {
  margin-bottom: 36px;
}

.header-middle {
  margin-bottom: 45px;
}

.user-navigation,
.user-functions,
.site-nav,
.sub-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a,
.user-functions a,
.sub-menu a {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #000000;
  text-transform: capitalize;
}

.site-nav-item > a {
  color: #000000;
  text-transform: uppercase;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-functions a:hover,
.user-functions a:focus,
.site-nav a:hover,
.site-nav a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active,
.user-functions a:active,
.site-nav a:active,
.sub-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ___Стили промо-слайдера___ */

 .slider-slides {
  list-style: none;
}

.tagline {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  color: #000000;
}

.slide p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #464646;
}

.properties th {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.properties td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

/* ___Популярные категории___ */

.popular-categories-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-item a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popular-item a:active {
  opacity: 0.3;
}

.services-button:active {
  background-color: #000000;
  color: #f7e184;
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.services-item p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #464646;
}

.brands-list {
  list-style: none;
}

.section-title {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about p,
.contacts p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #464646;
}

.partners {
  font-weight: 800;
  font-style: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  list-style: circle;
}

/* ___Стили для подвала___ */

.main-footer {
  background-color: #464646;;
}

.main-footer a {
  color: #ffffff;
}

.main-footer .footer-logo {
  color: #f0c52e;
}

.main-footer .footer-logo:hover,
.main-footer .footer-logo:focus {
  color: rgba(255, 198, 0, 0.6)
}

.main-footer .footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.main-footer a:hover,
.main-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.contacts-phone,
.contacts-address {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

/* ___Стили каталога___ */

.page-title {
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-section-title {
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.color-check,
.radio-check {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.color-check:disabled,
.radio-check:disabled {
  color: #a6a6a6;
}

.sort-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sort-button-active {
  color: rgba(0, 0, 0, 1);
}

.catalog-list {
  list-style: none;
}

.price {
  font-weight: 300;
  font-size: 16px;
}


.button-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: 0px;
}

.button-compare:hover,
.button-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  list-style: none;
}

.pagination-page {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page:hover,
.pagination-page:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page-active,
.pagination-page:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-button {
  font-size: 16px;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  background-color: #ebebeb;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}
