@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
       url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format('woff2'),
       url("../fonts/gilroylight.woff.woff") format('woff');
  font-weight: 300;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  color: #000000;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.footer-logo {
  color: #f0c52e;
}

.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background: none;
  border: 0px;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.user-navigation,
.user-functions,
.site-nav,
.sub-menu {
  list-style: none;
}

.user-navigation a,
.user-functions a,
.sub-menu a {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #000000;
  text-transform: capitalize;
}

.site-nav-item > a {
  color: #000000;
  text-transform: uppercase;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-functions a:hover,
.user-functions a:focus,
.site-nav a:hover,
.site-nav a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
  opacity: 0.6;
}

.slider-slides {
  list-style: none;
}

.tagline {
  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  color: #000000;
}

.slide p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #464646;
}

.properties th {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.properties td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.popular-categories-list {
  list-style: none;
}

.popular-item a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popular-item a:active {
  opacity: 0.3;
}

.services-button:active {
  background-color: #000000;
  color: #f7e184;
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.services-item p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #464646;
}

.brands-list {
  list-style: none;
}

.section-title {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about p,
.contacts p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #464646;
}

.partners {
  font-weight: bold;
  font-style: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  list-style: circle;
}

.main-footer {
  background-color: #464646;;
}

.footer-color a {
  color: #ffffff;
}

.contacts-phone,
.contacts-address {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.page-title {
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:hover,
.breadcrumbs li:focus,
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li:active,
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-section-title {
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.color-check,
.radio-check {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.color-check:disabled,
.radio-check:disabled {
  color: #a6a6a6;
}

.sort-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sort-button-active {
  color: rgba(0, 0, 0, 1);
}

.catalog-list {
  list-style: none;
}

.price {
  font-weight: 300;
  font-size: 16px;
}

.pagination {
  list-style: none;
}

.button-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: 0px;
}
